/* Denna fil skall innehålla din CSS kod */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#wrapper {
    display: grid;
    max-height: 130vh;
    width: 99vw;
    grid-template-areas: 
    "hd nav nav nav"
    "ma ma ma ma"
    "ca ca ca ca";
    grid-template-columns: 1.7fr 1.3fr 2fr 1fr;
    grid-template-rows: 1fr 3fr 0.5fr;
    gap: 0;
}

header {
    grid-area: hd;
    background-color: #7b8c78;
    border-radius: 0%;
    position: sticky;
    top: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    padding-left: 20%;
}

nav {
    grid-area: nav;
    background-color: #7b8c78;   
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 0%;
    position: sticky;
    top: 0; 
    z-index: 10;
}
#card {
    display: grid;
    grid-area: ca;
    grid-template-areas: 
    "ar ar2 ar3"
    "ar4 ar5 ar6";
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 10px;
    border-radius: 5%;
    padding-left: 5%;
}

#ar1 {
    display: grid;
    grid-area: ar;
    background-color: white;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    gap: 10px;
    max-height: 90%;
    max-width: 90%;
    overflow: hidden;
    border: 3px black solid;
}

.produkt_bilder {
    height: 60%;
    width: 80%;
    object-fit: cover;
    margin-bottom: 5%;
    border-radius: 20%;
    filter: grayscale(0.6);
}

main {
    grid-area: ma;
    background-image: url(../img/natur2.avif);
    filter: blur(0.2px);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;    
    min-height: 400px;
}

#ar2 {
    display: grid;
    grid-area: ar2;
    background-color: white;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    gap: 10px;
    max-height: 90%;
    max-width: 83%;
    overflow: hidden;
    border: 3px black solid;
    margin-left: 4%;
}

#ar3 {
    display: grid;
    grid-area: ar3;
    background-color: white;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    gap: 10px;
    max-height: 90%;
    max-width: 80%;
    overflow: hidden;
    border: 3px black solid;
}

#ar4 {
    display: grid;
    grid-area: ar4;
    background-color: white;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    gap: 10px;
    max-height: 90%;
    max-width: 90%;
    overflow: hidden;
    border: 3px black solid;
}

#ar5 {
    display: grid;
    grid-area: ar5;
    background-color: white;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    gap: 10px;
    max-height: 90%;
    max-width: 83%;
    overflow: hidden;
    border: 3px black solid;
    margin-left: 4%;
}

#ar6 {
    display: grid;
    grid-area: ar6;
    background-color: white;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    gap: 10px;
    max-height: 90%;
    max-width: 80%;
    overflow: hidden;
    border: 3px black solid;
}

.meny {
    display: inline-block;  
    align-self: start;       
    text-align: center;
    margin-top: 0%;
    font-size: 140%;
    text-decoration: none;
    padding: 8px 20px;
    border-radius: 25px;
    font-size: 1.1rem;
    transition: 0.3s;
}
.meny:hover {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    color: white;
    background-color: #d9c8b0;
}

h1 {
    display: inline-block;
    text-align: center;
    font-size: 200%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #d9c8b0;
    margin-top: 9%;
    border: 3px black solid;
    border-radius: 15%;
    margin-left: 3%;
    padding: 5px 10px; 
}

h2 {
    text-align: center;
    font-size: 200%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #d9c8b0;
    margin-top: 10%;
}
#bakgrund {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #7b8c78;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;  
}

p {
    padding-right: 2%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 90%;
    line-height: 130%;
    margin-top: 2%;
}

h4 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 120%;
    margin-top: 4%;
}

button {
    padding: 8px 20px;
    border-radius: 25px;
    font-size: 1.1rem;
    transition: 0.3s;
}

button:hover {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    color: white;
    background-color: #d9c8b0;
}
.card:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 15px rgba(0,0,0,0.15);
}
h3 {
    color: #090036;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 150%;
    margin-top: 1%;
}

#logga {
    height: auto;     
    width: 60%;      
    max-height: 100%;
    object-fit: contain;
    border-radius: 15%;
    border: 3px black solid;
}

a {
    display: block;
    color: black;
    text-decoration: none;
    background-color: white;
    padding: 8px 20px;
    border-radius: 25px;
    font-size: 1.1rem;
    transition: 0.3s;
    border: 2px black solid;
}

a:hover {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    color: white;
    background-color: #d9c8b0;
}

#underrubrik {
    color: #d9c8b0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 150%;
    margin-top: 1%;
}