/* Denna fil skall innehålla din CSS kod */
#wrapper {
    display: grid;
    height: 130vh;
    width: 97vw;
    grid-template-areas: 
    "hd nav nav nav"
    "ma ma ma ma"
    "se se ar ar";
    grid-template-columns: 1.7fr 1.3fr 2fr 1fr;
    grid-template-rows: 1fr 4fr 2fr;
    gap: 10px;
    row-gap: 0%;
    column-gap: 0%;
}

header {
    grid-area: hd;
    background-color: #7b8c78;
    border-radius: 0%;
    position: sticky;
    top: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    padding-left: 20%;
}

nav {
    grid-area: nav;
    background-color: #7b8c78;   
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 0%;
    position: sticky;
    top: 0; /* höjden på din header */
    z-index: 10;
}

section {
    grid-area: se;
    background-color: #7b8c78;
    border-radius: 5%;
    overflow: hidden;
    justify-content: left;
    display: grid;
    grid-template-areas: 
    "dd td";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2px;
    margin-right: 1%;
}

#bilddel {
    grid-area: dd;
    padding: 2%;
    background-color: #7b8c78;
}

#textdel {
    grid-area: td;
    background-color: #7b8c78;
    padding-bottom: 2%;
}
main {
    grid-area: ma;
    background-image: url(../img/natur2.avif);
    background-size: cover;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

article {
    grid-area: ar;
    background-color: #7b8c78;
    border-radius: 5%;
    overflow: hidden;
    display: flex;
    justify-content: right;
    display: grid;
    grid-template-areas: 
    "bdel tdel";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2px;
    margin-left: 1%;
}

#bdel {
    padding: 2%;
    grid-area: bdel;
    background-color: #7b8c78;
    border-radius: 5%;
}

#tdel {
    grid-area: tdel;
    background-color: #7b8c78;
}

.meny {
    display: inline-block;  
    align-self: start;       
    text-align: center;
    margin-top: 0%;
    font-size: 140%;
    text-decoration: none;
    padding: 8px 20px;
    border-radius: 25px;
    font-size: 1.1rem;
    transition: 0.3s;
}
.meny:hover {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    color: white;
    background-color: #d9c8b0;
}

h1 {
    display: inline-block;
    text-align: center;
    font-size: 200%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #d9c8b0;
    margin-top: 9%;
    border: 3px black solid;
    border-radius: 15%;
    margin-left: 3%;
    padding: 5px 10px; 
}

.natur {
    height: 80%;
    width: 90%;
    padding: 1%;
    border-radius: 15%;
    filter: grayscale(0.6);
}

h2 {
    text-align: center;
    font-size: 200%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #d9c8b0;
    margin-top: 10%;
}
#bakgrund {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(79, 75, 75);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}

p {
    padding-right: 2%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 90%;
    line-height: 130%;
    margin-top: -5%;
}

h4 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 120%;
    margin-top: 4%;
}

button {
    padding: 8px 20px;
    border-radius: 25px;
    font-size: 1.1rem;
    transition: 0.3s;
}

button:hover {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    color: white;
    background-color: #d9c8b0;
}
h3 {
    color: #d9c8b0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 150%;
    margin-top: -1%;
    margin-left: 4%;
}

#logga {
    height: auto;     
    width: 60%;     
    max-height: 100%;
    object-fit: contain;
    border-radius: 15%;
    border: 3px black solid;
}