/* Denna fil skall innehålla din CSS kod */
#wrapper {
    display: grid;
    max-height: 110vh;
    width: 95vw;
    grid-template-areas: 
    "hd nav nav nav"
    "ma ma ma ma"
    "ca ca ca ca";
    grid-template-columns: 1.7fr 1.3fr 2fr 1fr;
    grid-template-rows: 1fr 3fr 0.5fr;
    gap: 10px;
    padding-bottom: 1%;
}

header {
    grid-area: hd;
    background-color: #7b8c78;
    border-radius: 5%;
}

nav {
    grid-area: nav;
    background-color: #7b8c78;   
    display: flex;
    justify-content: space-evenly;
    border-radius: 5%;
}
#card {
    display: grid;
    grid-area: ca;
    grid-template-areas: 
    "ar ar2 ar3"
    "ar4 ar5 ar6";
    grid-template-columns: repeat(3, 1);
    grid-template-rows: auto;
    gap: 10px;
    border-radius: 5%;
    padding-left: 5%;
}

#ar1 {
    display: grid;
    grid-area: ar;
    background-color: white;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    gap: 10px;
    max-height: 90%;
    max-width: 85%;
    overflow: hidden;
    border: 3px #7b8c78 solid;
}

.produkt_bilder {
    height: 60%;
    width: 80%;
    object-fit: cover;
    margin-bottom: 20%;
    border-radius: 20%;
    filter: grayscale(0.6);
}

main {
    grid-area: ma;
    background-image: url(../img/nu2.avif);
    filter: blur(0.2px);
    background-size: cover;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;    
    min-height: 300px;
}

#ar2 {
    display: grid;
    grid-area: ar2;
    background-color: white;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    gap: 10px;
    max-height: 90%;
    max-width: 80%;
    overflow: hidden;
    border: 3px #7b8c78 solid;
}

#ar3 {
    display: grid;
    grid-area: ar3;
    background-color: white;
    border-radius: 10%;
    display: flex;
    flex-direction: 
    column;
    align-items: center;
    text-align: left;
    gap: 10px;
    max-height: 90%;
    max-width: 80%;
    overflow: hidden;
    border: 3px #7b8c78 solid;
}

#ar4 {
    display: grid;
    grid-area: ar4;
    background-color: white;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    gap: 10px;
    max-height: 90%;
    max-width: 80%;
    overflow: hidden;
    border: 3px #7b8c78 solid;
}

#ar5 {
    display: grid;
    grid-area: ar5;
    background-color: white;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    gap: 10px;
    max-height: 90%;
    max-width: 80%;
    overflow: hidden;
    border: 3px #7b8c78 solid;
}

#ar6 {
    display: grid;
    grid-area: ar6;
    background-color: white;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    gap: 10px;
    max-height: 90%;
    max-width: 80%;
    overflow: hidden;
    border: 3px #7b8c78 solid;
}

.meny {
    display: inline-block;  
    align-self: start;       
    text-align: center;
    margin-top: 4%;
    font-size: 140%;
    text-decoration: none;
    color: #d9c8b0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: 3px solid black;
    border-radius: 20%;
    padding: 5px 10px; 
}
.meny:hover {
    color: white;
    text-decoration: none;
    background-color: #d9c8b0;
    /*gör så att det kommer ett streck senare*/
}

h1 {
    display: inline-block;
    text-align: center;
    font-size: 200%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #d9c8b0;
    margin-top: 9%;
    border: 3px black solid;
    border-radius: 15%;
    margin-left: 3%;
    padding: 5px 10px; 
}

h2 {
    text-align: center;
    font-size: 200%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #d9c8b0;
    margin-top: 10%;
}
#bakgrund {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(79, 75, 75);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;  
}

p {
    padding-right: 2%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 90%;
    line-height: 130%;
    margin-top: -5%;
}

h4 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 120%;
    margin-top: 4%;
}

button {
    background-color: #7b8c78;
    border-radius: 15%;
    color: #d9c8b0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 140%;
    cursor: pointer;
}

button:hover {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    color: white;
    background-color: #d9c8b0;
  }